Corner.json
[
    {
        "id": "392bb1078ea928e8",
        "type": "mqtt in",
        "z": "3f6e711fda61cb1a",
        "name": "",
        "topic": "fm/lot12/cs/cs2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "953c84b0a86cb496",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 340,
        "wires": [
            [
                "97baa1969e6aa14a"
            ]
        ]
    },
    {
        "id": "8e4fb7e19bf45765",
        "type": "function",
        "z": "3f6e711fda61cb1a",
        "name": "RFID Scanning",
        "func": "var RFID_ID = msg.payload;\nvar MachineName = 'CS-1';\nvar CurrentTime = new Date().toLocaleString(\"sv-SE\");\nvar tstamp = Date.now();\n\n\n\nmsg.payload = {\n    timestamp: tstamp,\n    Lot: 'Lot 12',\n    Department: 'Corner Sample 12',\n    Machine: MachineName,\n    CurrentTime: CurrentTime,\n    Status: 1,\n    RFID_ID: RFID_ID,\n    Duration: 0\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 340,
        "wires": [
            [
                "de56e8c5b81b9a44"
            ]
        ]
    },
    {
        "id": "de56e8c5b81b9a44",
        "type": "function",
        "z": "3f6e711fda61cb1a",
        "name": "Write to ERP Corner Sample",
        "func": "var table_name = '`tabCorner Sample`';\nvar col1 = 'name';\nvar col2 = 'timestamp';\nvar col3 = 'lot';\nvar col4 = 'department';\nvar col5 = 'machine';\nvar col6 = 'time';\nvar col7 = 'status';\nvar col8 = 'rfid';\nvar col9 = 'duration'\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\" + col1 + \", \" + col2 + \", \" + col3 + \", \" + col4 + \", \" + col5 + \", \" + col6 + \", \" + col7 + \", \" + col8 + \" , \" + col9 + \")\" +\n    \"VALUES('\" +\n    msg.payload.timestamp + \"','\" +\n    msg.payload.timestamp + \"','\" +\n    msg.payload.Lot + \"','\" +\n    msg.payload.Department + \"','\" +\n    msg.payload.Machine + \"','\" +\n    msg.payload.CurrentTime + \"','\" +\n    msg.payload.Status + \"','\" +\n    msg.payload.RFID_ID + \"','\" +\n    msg.payload.Duration + \"')\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 340,
        "wires": [
            [
                "234b66acae47ae5d"
            ]
        ]
    },
    {
        "id": "234b66acae47ae5d",
        "type": "debug",
        "z": "3f6e711fda61cb1a",
        "name": "debug 277",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "97baa1969e6aa14a",
        "type": "delay",
        "z": "3f6e711fda61cb1a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "8e4fb7e19bf45765"
            ]
        ]
    },
    {
        "id": "7199793f58c4ff07",
        "type": "mqtt in",
        "z": "3f6e711fda61cb1a",
        "name": "",
        "topic": "fm/lot12/cs/cs3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "953c84b0a86cb496",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 440,
        "wires": [
            [
                "4a6e7a0d23f7d73e"
            ]
        ]
    },
    {
        "id": "53fb7b697f9f257d",
        "type": "function",
        "z": "3f6e711fda61cb1a",
        "name": "RFID Scanning",
        "func": "var RFID_ID = msg.payload;\nvar MachineName = 'CS-1';\nvar CurrentTime = new Date().toLocaleString(\"sv-SE\");\nvar tstamp = Date.now();\n\n\n\nmsg.payload = {\n    timestamp: tstamp,\n    Lot: 'Lot 12',\n    Department: 'Corner Sample 12',\n    Machine: MachineName,\n    CurrentTime: CurrentTime,\n    Status: 1,\n    RFID_ID: RFID_ID,\n    Duration: 0\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 440,
        "wires": [
            [
                "80879c0bdce8769e"
            ]
        ]
    },
    {
        "id": "80879c0bdce8769e",
        "type": "function",
        "z": "3f6e711fda61cb1a",
        "name": "Write to ERP Corner Sample",
        "func": "var table_name = '`tabCorner Sample`';\nvar col1 = 'name';\nvar col2 = 'timestamp';\nvar col3 = 'lot';\nvar col4 = 'department';\nvar col5 = 'machine';\nvar col6 = 'time';\nvar col7 = 'status';\nvar col8 = 'rfid';\nvar col9 = 'duration'\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\" + col1 + \", \" + col2 + \", \" + col3 + \", \" + col4 + \", \" + col5 + \", \" + col6 + \", \" + col7 + \", \" + col8 + \" , \" + col9 + \")\" +\n    \"VALUES('\" +\n    msg.payload.timestamp + \"','\" +\n    msg.payload.timestamp + \"','\" +\n    msg.payload.Lot + \"','\" +\n    msg.payload.Department + \"','\" +\n    msg.payload.Machine + \"','\" +\n    msg.payload.CurrentTime + \"','\" +\n    msg.payload.Status + \"','\" +\n    msg.payload.RFID_ID + \"','\" +\n    msg.payload.Duration + \"')\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 440,
        "wires": [
            [
                "931da1b89d1bf59a"
            ]
        ]
    },
    {
        "id": "931da1b89d1bf59a",
        "type": "debug",
        "z": "3f6e711fda61cb1a",
        "name": "debug 279",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 440,
        "wires": []
    },
    {
        "id": "4a6e7a0d23f7d73e",
        "type": "delay",
        "z": "3f6e711fda61cb1a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 440,
        "wires": [
            [
                "53fb7b697f9f257d"
            ]
        ]
    },
    {
        "id": "e0d4674d06adec80",
        "type": "mqtt in",
        "z": "3f6e711fda61cb1a",
        "name": "",
        "topic": "fm/lot12/cs/cs4",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "953c84b0a86cb496",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 540,
        "wires": [
            [
                "db50c9643211309a"
            ]
        ]
    },
    {
        "id": "7b0ed44e7a9b8cd7",
        "type": "function",
        "z": "3f6e711fda61cb1a",
        "name": "RFID Scanning",
        "func": "var RFID_ID = msg.payload;\nvar MachineName = 'CS-1';\nvar CurrentTime = new Date().toLocaleString(\"sv-SE\");\nvar tstamp = Date.now();\n\n\n\nmsg.payload = {\n    timestamp: tstamp,\n    Lot: 'Lot 12',\n    Department: 'Corner Sample 12',\n    Machine: MachineName,\n    CurrentTime: CurrentTime,\n    Status: 1,\n    RFID_ID: RFID_ID,\n    Duration: 0\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 540,
        "wires": [
            [
                "f87e0e76f9ad8a11"
            ]
        ]
    },
    {
        "id": "f87e0e76f9ad8a11",
        "type": "function",
        "z": "3f6e711fda61cb1a",
        "name": "Write to ERP Corner Sample",
        "func": "var table_name = '`tabCorner Sample`';\nvar col1 = 'name';\nvar col2 = 'timestamp';\nvar col3 = 'lot';\nvar col4 = 'department';\nvar col5 = 'machine';\nvar col6 = 'time';\nvar col7 = 'status';\nvar col8 = 'rfid';\nvar col9 = 'duration'\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\" + col1 + \", \" + col2 + \", \" + col3 + \", \" + col4 + \", \" + col5 + \", \" + col6 + \", \" + col7 + \", \" + col8 + \" , \" + col9 + \")\" +\n    \"VALUES('\" +\n    msg.payload.timestamp + \"','\" +\n    msg.payload.timestamp + \"','\" +\n    msg.payload.Lot + \"','\" +\n    msg.payload.Department + \"','\" +\n    msg.payload.Machine + \"','\" +\n    msg.payload.CurrentTime + \"','\" +\n    msg.payload.Status + \"','\" +\n    msg.payload.RFID_ID + \"','\" +\n    msg.payload.Duration + \"')\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 540,
        "wires": [
            [
                "2b0d600e2f0cad71"
            ]
        ]
    },
    {
        "id": "2b0d600e2f0cad71",
        "type": "debug",
        "z": "3f6e711fda61cb1a",
        "name": "debug 280",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "db50c9643211309a",
        "type": "delay",
        "z": "3f6e711fda61cb1a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "7b0ed44e7a9b8cd7"
            ]
        ]
    },
    {
        "id": "bbb62664431e272b",
        "type": "mqtt in",
        "z": "3f6e711fda61cb1a",
        "name": "",
        "topic": "fm/lot12/cs/cs1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "953c84b0a86cb496",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 240,
        "wires": [
            [
                "20a82ac3f3c63514"
            ]
        ]
    },
    {
        "id": "e3734ca3ba46d779",
        "type": "function",
        "z": "3f6e711fda61cb1a",
        "name": "RFID Scanning",
        "func": "var RFID_ID = msg.payload;\nvar MachineName = 'CS-1';\nvar CurrentTime = new Date().toLocaleString(\"sv-SE\");\nvar tstamp = Date.now();\n\n\n\nmsg.payload = {\n    timestamp: tstamp,\n    Lot: 'Lot 12',\n    Department: 'Corner Sample 12',\n    Machine: MachineName,\n    CurrentTime: CurrentTime,\n    Status: 1,\n    RFID_ID: RFID_ID,\n    Duration: 0\n};\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 240,
        "wires": [
            [
                "22e09f58f9c7c31b"
            ]
        ]
    },
    {
        "id": "22e09f58f9c7c31b",
        "type": "function",
        "z": "3f6e711fda61cb1a",
        "name": "Write to ERP Corner Sample",
        "func": "var table_name = '`tabCorner Sample`';\nvar col1 = 'name';\nvar col2 = 'timestamp';\nvar col3 = 'lot';\nvar col4 = 'department';\nvar col5 = 'machine';\nvar col6 = 'time';\nvar col7 = 'status';\nvar col8 = 'rfid';\nvar col9 = 'duration'\n\n\nmsg.topic = \"INSERT INTO \" + table_name + \"(\" + col1 + \", \" + col2 + \", \" + col3 + \", \" + col4 + \", \" + col5 + \", \" + col6 + \", \" + col7 + \", \" + col8 + \" , \" + col9 + \")\" +\n    \"VALUES('\" +\n    msg.payload.timestamp + \"','\" +\n    msg.payload.timestamp + \"','\" +\n    msg.payload.Lot + \"','\" +\n    msg.payload.Department + \"','\" +\n    msg.payload.Machine + \"','\" +\n    msg.payload.CurrentTime + \"','\" +\n    msg.payload.Status + \"','\" +\n    msg.payload.RFID_ID + \"','\" +\n    msg.payload.Duration + \"')\";\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 240,
        "wires": [
            [
                "6ee96e06cb4a3efe"
            ]
        ]
    },
    {
        "id": "6ee96e06cb4a3efe",
        "type": "debug",
        "z": "3f6e711fda61cb1a",
        "name": "debug 281",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "20a82ac3f3c63514",
        "type": "delay",
        "z": "3f6e711fda61cb1a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "e3734ca3ba46d779"
            ]
        ]
    },
    {
        "id": "953c84b0a86cb496",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
